{{> start style="/css/contact.css"  }}
<div class="contain-header">
  {{> header  }}
</div>
<div class="map-contact">
  <img class="bg-contact" src="{{global.client.publicPath}}/static/img/bg_contact.png?_={{global.version}}" />
  <img class="bg-map" src="{{global.client.publicPath}}/static/img/map.png?_={{global.version}}" />
</div>
<div class="item-contact">
  <h3>
    <div class="icon-title"></div>
    <div class="title-contact">公司背景</div>
  </h3>
  <p>金贝塔网络金融科技（深圳）有限公司（以下简称“金贝塔公司”）是嘉实财富旗下公司在深圳投资设立的网络科技公司，核心产品为社交组合投资平台“金贝塔”。依托嘉实量化研究团队的雄厚实力，联合新财富上榜分析师、行业投资顾问及民间高手，充分利用移动互联优势，随时随地为互联网投资者提供权威、专业、全面的投资信息，解决传统金融行业信息不对称的问题，持续提升服务体验，实践普惠金融。
  </p>
</div>
<div class="item-contact bottom-100">
  <h3>
    <div class="icon-title"></div>
    <div class="icon"></div>
    <div class="title-contact">核心团队</div>
  </h3>
  <p>
    金贝塔核心团队来自嘉实基金、黑岩集团等国内外领先的金融公司和腾讯、百度等国内互联网领军企业，致力于打造中国版motif——专注服务于国内投资者的社交组合投资平台。
  </p>
</div>
{{> download  }}
{{> footer  }}
{{> end script="/js/main.js" }}
