<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>下载金贝塔APP</title>
</head>
<body>
<script src="{{global.client.publicPath}}/static/js/channel-download.js?_={{global.version}}"></script>
</body>
</html>