{{> start style="/css/manager.css" }}
<div class="contain-header">
  {{> header nav="about-us"}}
</div>
<div class="top-contain">
  <!-- 顶部 -->
  <div class="top top-layout" id="top">
    <div class="page-center">
      <div class="company">金贝塔网络金融科技（深圳）有限公司</div>
      <div class="company-description">
        金贝塔网络金融科技（深圳）有限公司（以下简称“金贝塔公司”）是嘉实集团在深圳投资设立的网络科技公司，核心产品为社交组合投资平台“金贝塔”。依托嘉实财富量化研究团队的雄厚实力，联合新财富上榜分析师、行业投资顾问及民间高手，充分利用移动互联优势，随时随地为互联网投资者提供权威、专业、全面的投资信息，解决传统金融行业信息不对称的问题，持续提升服务体验，实践普惠金融。
      </div>
    </div>
  </div>
</div>
<div class="page-center">
  <div class="content p-content">
    <div class="left-content">
      <h3>
        <div class="icon-title"></div>
        <div class="title-contact">董事长 - 赵学军</div>
      </h3>
      <p class="content-01">
        嘉实基金管理有限公司党委书记兼总裁、嘉实国际资产管理有限公司董事长
        嘉实资本管理有限公司董事长、嘉实财富管理有限公司董事长兼总裁
        金贝塔网络金融科技（深圳）有限公司创始人兼公司董事长
        赵学军博士现任嘉实基金管理有限公司党委书记、总裁，董事会董事，中共党员
      </p>
      <p class="content-02">
        赵学军博士拥有超过20年的金融管理、资本市场运作和公司治理经验。他自2000年10月起即担任嘉实基金总裁，是行业内任职期限最长的元老级CEO。赵学军博士于2005年开创性的为嘉实基金引进了国际一流的战略合作者作为股东，有效地推进了公司治理改进和国际化业务发展。截至2015年年底，公司各类资产规模合计超过7000亿元。</p>
      <p class="content-03">
        在加入嘉实基金之前，赵学军先生曾任大成基金管理有限公司副总经理，并在商品期货、商品交易所、进出口公司担任管理职位。目前还担任中国证券投资基金业协会兼职副会长、中国保险资产管理业协会专家理事。</p>
      <p class="content-03">赵学军先生毕业于北京大学光华管理学院，获经济学博士学位。其在行为金融学与投资策略选择等方向的研究论文曾发表在《金融研究》(2001)等期刊。</p>
    </div>
    <div class="right-content"><img src="{{global.client.publicPath}}/static/img/CEO_avatar.jpg?_={{global.version}}">
    </div>
  </div>
  <div class="content p-speech">
    <h3>
      <div class="icon-title"></div>
      <div class="title-contact">董事长致辞</div>
    </h3>
    <p class="speech-01">我们的事业从嘉实基金开始。</p>
    <p class="speech-02">自1999年成立至今， 经过17年自强不息地奋斗，嘉实从当初行业垫底的小公司发展成资产管理规模超7000亿、服务平台众多、投资业绩持续优异的一流现代化财富管理集团。</p>
    <p class="speech-02">
      持续优秀的业绩、不断为投资人创造价值是公司立身之本，也是发展之源。自2009年以来，嘉实国际、嘉实资本、嘉实财富等子公司相继成立，我们开始实现“跨国别、跨市场、跨资产类属”为客户全天候服务的梦想。</p>
    <p class="speech-02">
      我们有幸赶上互联网大发展的激情岁月。2014年8月，嘉实进军互联网金融领域，创建了金贝塔网络金融科技有限公司（前身为金篮子公司）。其初衷是为了帮助中国证券市场中数量庞大的个人投资者解决诸如买什么？为什么买？买多少？何时卖？这些始终没有被解决好的问题。</p>
    <p class="speech-02">金贝塔是嘉实集团的重要一员，肩负着“借助互联网创新让普通的投资者获得专业投资辅导”的普惠金融使命，承载着用新理念、新技术改变证券市场的重任。</p>
    <p class="speech-02">金贝塔未来发展方向包括两个方面：“横向”与更多的券商进行合作，为更多的普通投资者提供专业服务；“纵向”继续争取券商牌照，不断开拓互联网证券的创新业务模式。</p>
    <p class="speech-02">17年来风雨兼程，嘉实所有的努力都是为了担当起客户日益升级的投资需求和财富目标，为客户创造价值是我们的初衷与不变追求。</p>
    <p class="signature"></p>
    <div class="txt-signature">董事长签名:</div>
  </div>
</div>
{{> download }}
{{> footer }}
{{> end }}
