{{> start style="/css/universal-link-404.css" mobile=true }}

<i class="icon-fail"></i>
<p class="message">打开金贝塔APP失败啦！</p>
<p class="upgrade-tips">您目前使用的金贝塔APP版本过低，<br>升级版本后即可直接打开。</p>
<a href="/portal/basket/download/qrc/website_mobile" class="upgrade-btn">马上升级</a>

{{> html-close }}