<!-- 组合详情 -->
<div id="open" class="detail-panel dHide">
  <div class="close"></div>
  <div class="main-open">
    <div class="left-open"></div>
    <div class="right-open">
      <div class="chart-content" id="chart">
        <div class="chart-menu">
          <div class="menu">
            <a href="javascript:;" class="item j-return-type" data-return-type="1">本周</a><span>|</span>
            <a href="javascript:;" class="item j-return-type" data-return-type="2">本月</a><span>|</span>
            <a href="javascript:;" class="item j-return-type" data-return-type="3">本年</a><span>|</span>
            <a href="javascript:;" class="item active j-return-type" data-return-type="4">创建以来</a>
          </div>
          <div class="mark"></div>
        </div>
        <div class="chart"></div>
      </div>
    </div>
    <button id="seeDetail" type="button">查看持仓详情</button>
  </div>
</div>