<!-- 搜索结果 -->
<div class="search-result dHide">
  <div class="search">
    <div class="title-search">想要投资什么？</div>
    <div class="form">
      <div class="center-search">
        <div class="validate-search dHide">请输入关键字</div>
        <div class="icon-search"></div>
        <input id="result-input" type="text" name="search" placeholder='如"虚拟现实"' class="input-search">
        <button id="result-search" type="button" class="btn-search">Go</button>
      </div>
    </div>
    <div class="tips-search">超过300万用户正在使用，我来试试...</div>
  </div>
  <div class="page-center result">
    <div id="search-result" class="result-main"></div>
  </div>
</div>