<div class="item">
  <i class="ico-circle ico-circle-orange"></i>
  <span>{{betaName}}</span></div>
<div class="item standard j-standard">
  <i class="ico-circle ico-circle-light"></i>
  <span>{{normName}}</span>
</div>