<!-- 下载框 -->
<div id="download-box" class="download-box dHide">
  <div class="ds-inline-block dow-left"><img src="{{global.client.publicPath}}/static/img/QR_code.png?_={{global.version}}"></div>
  <div class="ds-inline-block dow-right">
    <div class="dow-txt">下载金贝塔APP</div>
    <a target="_blank" href="https://itunes.apple.com/app/apple-store/id935611812?pt=111527805&amp;ct=website-pc&amp;mt=8" ><div class="dow-ios dow-style"></div></a>
    <a target="_blank" href="http://cache.igoldenbeta.com/Resource/file/app/android/version/igoldenbeta.apk"><div class="dow-andr dow-style"></div></a>
  </div>
</div>
<!-- 浮层 -->
<div id="mask" class="mask opacity dHide"></div>
