<!-- 页脚 -->
<div class="footer">
  <div class="page-center">
    <div class="left-footer">
      <div class="QRcode-beta QRcode">
        <img src="{{global.client.publicPath}}/static/img/QR_beta.png?_={{global.version}}"><div>金贝塔公众号</div>
      </div>
      <div class="QRcode-beauties QRcode">
        <img src="{{global.client.publicPath}}/static/img/QR_beauties.png?_={{global.version}}"><div>财子佳人公&nbsp;众&nbsp;号</div>
      </div>
    </div>
    <div class="right-footer">
      <div ><div class="location icon-img"></div><span>深圳市南山区科苑北路科兴科学园A座2单元14楼</span></div>
      <div class="contact-footer">
        <div class="email icon-img"></div><a href="Mailto:bd@igoldenbeta.com">bd@igoldenbeta.com</a>
        <div class="qq icon-img"></div><span>QQ群498532306</span>
      </div>
      <div ><div class="tel icon-img"></div><span>400-600-8800</span></div>
    </div>
  </div>
  <div class="copyright">©2016金贝塔网络金融科技（深圳）有限公司. All Rights Reserved. | 粤ICP备14073521号</div>
</div>

