<!-- header-->
<div class="header layout-header">
  <div class="page-center">
    <div class="logo-header"><a href="/"><img src="{{global.client.publicPath}}/static/img/logo_header.png?_={{global.version}}"></a></div>
    <div class="nav-header">
      <ul class="clear">
        <li class="{{#eqeqeq nav 'home'}}current{{/eqeqeq}}"><a href="/">首页</a></li>
        <li class="{{#eqeqeq nav 'news'}}current{{/eqeqeq}}"><a href="/news/{{global.topicId.id1}}">资讯</a></li>
        <li class="{{#eqeqeq nav 'help'}}current{{/eqeqeq}}"><a href="/help">帮助中心</a></li>
        <li class="{{#eqeqeq nav 'about-us'}}current{{/eqeqeq}}"><a href="/manager">关于我们</a></li>
        <li class="nav-download"><a id="download" class="download-header">下载</a></li>
      </ul>
    </div>
  </div>
</div>
